* {
	font-family: 'Helvetica';
}

body {
	padding: 20px;
}

.container {
	margin: 0 25%;
}

.cover-image {
	width: 100%;
	margin-bottom: 1.5em;
}

.description {
	margin-bottom: 50px;
}


.social-icons svg {
	width: 30px;
	height: 30px;
	margin-right: 12px;
}

.linkedin:hover svg {
	fill: #0077B5;
}

.github:hover svg { 
	fill: #181717;
}